<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Message Board</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1>The Dojo Message Board</h1>
      </div>
      <div class="row">
        <div class="col-10">
          <form action="/messages" method="post">
            <table>
              <tr>
                <td><label for="name">Name:</label></td>
                <td><input id="name" type="text" name="name" required min="2" ></td>
              </tr>
              <tr>
                <td><label for="message">Message:</label></td>
                <td><textarea name="message" required min="2" rows="4" cols="80"></textarea></td>
              </tr>
            </table>
            <button class="btn btn-success" type="submit">Post Message</button>
          </form>
        </div>
        <div class="col-2">
          <% if(messages.create) { %>
            <% for(var x of messages.create) { %>
              <p class="text-danger font-weight-bold"><%= x %></p>
            <% } %>
          <% } %>
        </div>
      </div>

      <main>
        <% for(var i in allMessages) { %>
          <div class="pb-2 mt-4 mb-2 border-bottom">
            <h2>Name: <%= allMessages[i].name %></h2>
            <h3 class="mb-3">Message: <%= allMessages[i].message %></h3>
            <div class="comments">
              <% for(var j in allMessages[i].comments) { %>
                <h4 class="ml-5">Name: <%= allMessages[i].comments[j].name %></h4>
                <h5 class="ml-5">Comment: <%= allMessages[i].comments[j].comment %></h5>
              <% } %>
            </div>
            <div class="row">
              <div class="col-10">
                <form action="/messages/<%= allMessages[i]._id %>" method="post">
                  <table>
                    <tr>
                      <td><label for="name">Name:</label></td>
                      <td><input id="name" type="text" name="name" required min="2"</td>
                    </tr>
                    <tr>
                      <td><label for="comment">Comment:</label></td>
                      <td><textarea name="comment" required min="2" rows="2" cols="80"></textarea></td>
                    </tr>
                  </table>
                  <button class="btn btn-primary" type="submit">Post Comment</button>
                </form>
              </div>
              <div class="col-2">
                <% if(messages.comment) { %>
                  <% for(var x of messages.comment) { %>
                    <p class="text-danger font-weight-bold"><%= x %></p>
                  <% } %>
                <% } %>
              </div>
            </div>
          </div>
        <% } %>
      </main>
    </div>
  </body>
</html>
